
<div ng-if="rows.length > 0">
<table class="table table-striped table-hover"
		>
			<thead>
				<td>
{{$parent.$parent.getMesLabel(this)}}</td>
<td></td>
<td></td><td></td><td></td><td></td>
			</thead>
			<thead>	
					<th class="th-cc">Conta Gerencial</th>
					<th>Filial</th>
					
					<th style="text-align:right"
						 class="th-fixed-lvl1">
						Or&ccedil;.<sub ng-if="$parent.anoAtual == $parent.anoComparativo">{{ anoComparativoOrc }}</sub>
					</th>
					<th style="text-align:right"
						 class="th-fixed-lvl1">
						Real.<sub ng-if="$parent.anoAtual == $parent.anoComparativo">{{ anoComparativoReal }}</sub>
					</th>
					<th style="text-align:right"
						 class="th-fixed-lvl1">Dif.</th>
					<th style="text-align:right"
						 class="th-fixed-lvl1">Var%</th>
						
			</thead>
			<tbody ng-repeat="r in rows track by $index"
			   
			   ng-init="p = ($index > 0 && r.nomeGrupoMaster != $parent.rows[$index-1].nomeGrupoMaster);">
			<tr 
			   id="{{ r.idGrupoMaster }}"
			   ng-show="!inBlackList(r) && p || $index == 0"
			            ng-click="!inShowButtonBlackList(r) && (principalFilial == 'Total Empresa') && openGrupoMaster(r.nomeGrupoMaster)" 
			            ng-style="{cursor:((principalFilial == 'Total Empresa') ? 'pointer':'inherit')}"
			            class="{{vlrOrcado == vlrRealizado ? 'info' :
							vlrOrcado > vlrRealizado ? 'danger' : 'success'}} linhaConta">
			<!--  -->
			            <td ng-show="isShowed(this)" class="snapp-scrollable th-cc-imp" style="min-width: 200px!important;">
			               
						   <button ng-show="principalFilial == 'Total Empresa' && !inShowButtonBlackList2(r)" 
						   class="btn btn-success" style="margin-left: 3px;"
			               >
			               +
			               </button>
			               <b style="margin-left: 5px;">{{labelGrupoMaster(r.nomeGrupoMaster)}}</b>
			            </td>
			            
			            <td style="width: 94px;">
			            	<div ng-if="!inShowButtonBlackList(r)">	
				               <button class="btn btn-{{(principalFilial == 'Total Empresa')  ? 'primary': 'info'}}" 
				                  ng-click="
				                  openRelatorio('orcadorealizado_detalhado',
				                  {inModal:true,
				                  idGrupoMaster:r.idGrupoMaster,
				                  filial:principalFilial,
				                  nomeGrupoMaster:r.nomeGrupoMaster,
				                  __mes:$parent.$parent.key
				                  })">
				               {{principalFilial}}</button>
				               
				               <button class="btn btn-warning"  ng-show=" r.idGrupoMaster != '9898989' "
				               	ng-click="
				                  openRelatorio('evolucao_grafico',
				                  {inModal:true,
				                  idGrupoMaster:r.idGrupoMaster,
				                  filial:principalFilial,
				                  nomeGrupoMaster:r.nomeGrupoMaster
				                  })">
				               		<i class="glyphicon glyphicon-stats"></i>
				               </button>
			            	</div>
			            </td>
			            <td style="text-align:right;margin-right:10px"><b>{{(vlrOrcado = sum(r.nomeGrupoMaster,'vlrOrcado',rows,null,null,null)).formatMoney(0)}}</b>
			            </td>
			            
			            <td style="text-align:right;position:relative"><b>{{(vlrRealizado = sum(r.nomeGrupoMaster,'vlrRealizado',rows,null,null,null)).formatMoney(0)}}</b>
							<sup ng-if="r.nomeGrupoMaster == 'RECEITA BRUTA' && RECEITA_BRUTA_DIFF" 
							style="position:absolute;top: 14px;right: -27px;" class="result-{{ RECEITA_BRUTA_DIFF < 0 }}">
								<b ng-if="RECEITA_BRUTA_DIFF>0">+</b>{{numeralize(RECEITA_BRUTA_DIFF).formatMoney(0)}}
							</sup>
						</td>
			            
			            <td style="text-align:right">
			               <span class="result-{{vlrOrcado > vlrRealizado}}">
			               <b>{{(vlrRealizado - vlrOrcado).formatMoney(0)}}</b></span>
			            </td>
			            
			            <td style="text-align:right">
			               <span class="result-{{vlrOrcado > vlrRealizado}}">
			               <b>{{perc(
			               (vlrOrcado-vlrRealizado)
			               / vlrOrcado,r.nomeGrupoMaster)|| 0}}</b></span>
			            </td>
			         </tr>
			 <tr 
			 	grupoMaster="{{r.nomeGrupoMaster}}" 
			 	style="display:none;opacity:0"
			             class="{{r.vlrOrcado == r.vlrRealizado ? 'info' :
							r.vlrOrcado > r.vlrRealizado ? 'danger' : 'success'}}">
			            <td 
			            ng-show="isShowed(this)"
			            class="pd-grupomaster"
			            >
			            
			            {{r.nomeGrupoMaster}}</td>
			            <td>
			               <button class="btn btn-info" ng-click="
				               openRelatorio(
				               'orcadorealizado_detalhado',
				               {inModal:true,
				               idGrupoMaster:r.idGrupoMaster,
				               filial:r.filial,
				               nomeGrupoMaster:r.nomeGrupoMaster,__mes:$parent.$parent.key})
			               ">
			               {{r.filial}}
			               </button>
			               
			               <button class="btn btn-warning" 
			               	ng-show=" r.idGrupoMaster != '9898989' "
			               	ng-click="
			                  openRelatorio('evolucao_grafico',
			                  {inModal:true,
			                  idGrupoMaster:r.idGrupoMaster,
			                  filial:r.filial,
			                  idGrupo:null,
			                  nomeGrupoMaster:r.nomeGrupoMaster
			                  })">
			               		<i class="glyphicon glyphicon-stats"></i>
			               </button>
			            </td>
			            <td style="text-align:right"
			            	ng-show="$parent.colInUse('orc')">
			            
			            	<span data-toggle="tooltip" data-placement="bottom" title="Orcado">
			            		{{numeralize(r.vlrOrcado).formatMoney(0)}}
			            	</span>
			            	</td>
			            <td style="text-align:right"
			            	ng-show="$parent.colInUse('real')">
			            
			               <span data-toggle="tooltip" data-placement="bottom" title="Realizado" style="position:relative">
			                <sub style="font-size:12px;opacity:.9;position: absolute;right: 0;bottom: -6px;">{{ r.dt }}</sub>	{{numeralize(r.vlrRealizado,$parent.r).formatMoney(0) }}
							<sup ng-if="r.vlrRealizadoOld" class="result-{{x<0}}" 
							style="position: absolute;right:-30px;top: 2px;text-align: right;display: block;"> 
								{{(x > 0 ? '+' : '') + (y = numeralize(x = (r.vlrRealizado-r.vlrRealizadoOld),$parent.r)).formatMoney(0) }} 
							</sup>
			               </span>
			            </td>
			            <td style="text-align:right"
			            	ng-show="$parent.colInUse('dif')">
			            
			               <span class="result-{{(r.vlrOrcado > r.vlrRealizado)}}">
			               		{{numeralize(r.vlrRealizado - r.vlrOrcado).formatMoney(0)}}
			               	</span>
			            </td>
			            <td style="text-align:right"
			            	ng-show="$parent.colInUse('vari')">
			               <span class="result-{{(r.vlrOrcado > r.vlrRealizado)}}">
				               {{perc(
				               	((r.vlrRealizado - r.vlrOrcado)  / r.vlrOrcado)
				               )}}
			               </span>
			            </td>
			</tr>
			</tbody>
<!-- EBITDA normal -->
<tr ng-click="$parent.$parent.ebitdaIsOpen = !$parent.$parent.ebitdaIsOpen"
				class="{{totalEmpresaOrcado == totalEmpresaRealizado ? 'info' :
							totalEmpresaOrcado > totalEmpresaRealizado ? 'danger' : 'success'}}">
				<td ng-show="isShowed(this)" class="snapp-scrollable th-cc-imp">
			            
					<button class="btn btn-warning" 
							ng-show="principalFilial == 'Total Empresa'" class="btn btn-success" 
							style="margin-left: 3px;"
			               >
			               =
			               </button>
			               <b style="margin-left: 5px;">EBITDA</b>
				</td>
				<td>
			            
					<button class="btn btn-warning" disabled>{{principalFilial}}</button>
					<button class="btn btn-warning"  
		               	ng-click="
		                  openRelatorio('evolucao_grafico',
		                  {inModal:true,
		                  idGrupoMaster:'EBT',
		                  filial:principalFilial,
		                  nomeGrupoMaster:'EBITDA'
		                  })">
		               		<i class="glyphicon glyphicon-stats"></i>
		             </button>
				</td>
<!-- EBITDA normal -->
				<td  style="text-align:right" ng-scope>
			            
					{{
						__$$col = "vlrOrcado";
						filial = null;
							__$$data = 
							{
								RECEITA_LIQUIDA:sum("RECEITA L\u00cdQUIDA",__$$col,rows,null,filial),
								PESSOAL_OPERACIONAL:sum("PESSOAL OPERACIONAL",__$$col,rows,null,filial),
								CUSTOS_DE_AFRETAMENTO:sum("CUSTOS DE AFRETAMENTO",__$$col,rows,null,filial),
								CUSTO_DE_COMBUSTIVEL:sum("CUSTO DE COMBUST\u00cdVEL",__$$col,rows,null,filial),
								DESP_TEC_MANUN:sum("DESP T\u00C9CN E MANUTEN\u00C7\u00C3O",__$$col,rows,null,filial),
								SEG_PI:sum("SEGUROS E P\u0026I",__$$col,rows,null,filial), 
								PROVISAO:sum("PROVIS\u00D5ES PARA DOCAGEM",__$$col,rows,null,filial), 
								OUTRAS_DESP_OP:sum("OUTRAS DESPESAS OPERACIONAIS",__$$col,rows,null,filial), 
								DESPESAS_ADMINISTRATIVAS:sum("DESPESAS ADMINISTRATIVAS",__$$col,rows,null,filial), 
								DESPESAS_COM:sum('DESP. COMERCIAIS E COMISS\u00d5ES',__$$col,rows,null,filial), 
								DESPESAS_EXTR:sum('DESPESAS EXTRAORDIN\u00c1RIAS',__$$col,rows,null,filial)
								,OUTRAS_DESP_FINANC:sum('(+) Outras Despesas Financeiras',__$$col,rows,null,filial,null)
								,JUR:sum('JUR\u00cdDICO CORPORATIVO',__$$col,rows,null,filial)
								,JUR_OP:sum('JUR\u00cdDICO OPERACIONAL',__$$col,rows,null,filial)
								,PESSOAL_CORP:sum('PESSOAL CORPORATIVO',__$$col,rows,null,filial)
								,OUTRAS_CORP :sum('OUTRAS DESP. CORPORATIVA',__$$col,rows,null,filial)
								
							};
							(totalEmpresaOrcado = __$$data.RECEITA_LIQUIDA +
							(
								__$$data.PESSOAL_OPERACIONAL +
								__$$data.CUSTOS_DE_AFRETAMENTO +
								__$$data.CUSTO_DE_COMBUSTIVEL +
								__$$data.DESP_TEC_MANUN +
								__$$data.SEG_PI +
								__$$data.PROVISAO +
								__$$data.OUTRAS_DESP_OP+
								__$$data.DESPESAS_ADMINISTRATIVAS+
								__$$data.DESPESAS_COM+
								__$$data.DESPESAS_EXTR
								+ __$$data.JUR 
								+ __$$data.OUTRAS_CORP
								+ __$$data.PESSOAL_CORP
								
							)).formatMoney(0) 
					}}
				</td>
				<td  style="text-align:right" ng-scope>
				
			            {{
					__$$col2 = 'vlrRealizado';
						filial = null;
							__$$data2 = 
							{
								RECEITA_LIQUIDA:sum('RECEITA L\u00cdQUIDA',__$$col2,rows,null,filial),
								PESSOAL_OPERACIONAL:sum('PESSOAL OPERACIONAL',__$$col2,rows,null,filial),
								CUSTOS_DE_AFRETAMENTO:sum('CUSTOS DE AFRETAMENTO',__$$col2,rows,null,filial),
								CUSTO_DE_COMBUSTIVEL:sum('CUSTO DE COMBUST\u00cdVEL',__$$col2,rows,null,filial),
								DESP_TEC_MANUN:sum('DESP T\u00C9CN E MANUTEN\u00C7\u00C3O',__$$col2,rows,null,filial),
								SEG_PI:sum('SEGUROS E P\u0026I',__$$col2,rows,null,filial), 
								PROVISAO:sum('PROVIS\u00D5ES PARA DOCAGEM',__$$col2,rows,null,filial), 
								OUTRAS_DESP_OP:sum('OUTRAS DESPESAS OPERACIONAIS',__$$col2,rows,null,filial), 
								DESPESAS_ADMINISTRATIVAS:sum('DESPESAS ADMINISTRATIVAS',__$$col2,rows,null,filial), 
								DESPESAS_COM:sum('DESP. COMERCIAIS E COMISS\u00d5ES',__$$col2,rows,null,filial), 
								DESPESAS_EXTR:sum('DESPESAS EXTRAORDIN\u00c1RIAS',__$$col2,rows,null,filial),
								JUR:sum('JUR\u00cdDICO CORPORATIVO',__$$col2,rows,null,filial),
								JUR_OP:sum('JUR\u00cdDICO OPERACIONAL',__$$col2,rows,null,filial),
								PESSOAL_CORP:sum('PESSOAL CORPORATIVO',__$$col2,rows,null,filial),
								OUTRAS_CORP:sum('OUTRAS DESP. CORPORATIVA',__$$col2,rows,null,filial),
								
							};
							(totalEmpresaRealizado = __$$data2.RECEITA_LIQUIDA +
							(
								__$$data2.PESSOAL_OPERACIONAL +
								__$$data2.CUSTOS_DE_AFRETAMENTO +
								__$$data2.CUSTO_DE_COMBUSTIVEL +
								__$$data2.DESP_TEC_MANUN +
								__$$data2.SEG_PI +
								__$$data2.PROVISAO +
								__$$data2.OUTRAS_DESP_OP+
								__$$data2.DESPESAS_ADMINISTRATIVAS+
								__$$data2.DESPESAS_COM+
								__$$data2.DESPESAS_EXTR
								+ __$$data2.JUR 
								+ __$$data2.OUTRAS_CORP
								+ __$$data2.PESSOAL_CORP
								
							)).formatMoney(0)}}
					
				</td>
				<td style="text-align:right" class=" result-{{(totalEmpresaOrcado > totalEmpresaRealizado)}}">
			            
					{{(totalEmpresaRealizado - totalEmpresaOrcado).formatMoney(0)}}
				</td>
				<td style="text-align:right" class=" result-{{(totalEmpresaOrcado > totalEmpresaRealizado)}}">
			            
					{{perc((totalEmpresaRealizado - totalEmpresaOrcado)/totalEmpresaOrcado)}}
				</td>
			</tr>
			<!--  ebitida cada filial -->
			<tr  ng-repeat="filial in filiais" ng-show="$parent.$parent.ebitdaIsOpen"
			id="ebt-cada-filial"
			meta-id="ebt-cada-filial-{{ filial }}"
			class="{{totalOrcado == totalRealizado ? 'info' :
							totalOrcado > totalRealizado ? 'danger' : 'success'}}">
					<td  ng-show="isShowed(this)">
			            
					EBITDA Ajustado
					</td>
					<td>
						<button class="btn btn-info">
							{{filial}}
						</button>
						<button class="btn btn-warning"  
		               	ng-click="
		                  openRelatorio('evolucao_grafico',
		                  {inModal:true,
		                  idGrupoMaster:'EBT',
		                  filial:filial,
		                  nomeGrupoMaster:'EBITDA'
		                  })">
		               		<i class="glyphicon glyphicon-stats"></i>
		             </button>
					</td>
					<td style="text-align:right">
			            
					{{
						__$$col = "vlrOrcado";
							__$$data = 
							{
								RECEITA_LIQUIDA:sum("RECEITA L\u00cdQUIDA",__$$col,rows,null,filial,null,true),
								PESSOAL_OPERACIONAL:sum("PESSOAL OPERACIONAL",__$$col,rows,null,filial,null,true),
								CUSTOS_DE_AFRETAMENTO:sum("CUSTOS DE AFRETAMENTO",__$$col,rows,null,filial,null,true),
								CUSTO_DE_COMBUSTIVEL:sum("CUSTO DE COMBUST\u00cdVEL",__$$col,rows,null,filial,null,true),
								DESP_TEC_MANUN:sum("DESP T\u00C9CN E MANUTEN\u00C7\u00C3O",__$$col,rows,null,filial,null,true),
								SEG_PI:sum("SEGUROS E P\u0026I",__$$col,rows,null,filial,null,true), 
								PROVISAO:sum('PROVIS\u00D5ES PARA DOCAGEM',__$$col,rows,null,filial,null,true), 
								OUTRAS_DESP_OP:sum("OUTRAS DESPESAS OPERACIONAIS",__$$col,rows,null,filial,null,true), 
								DESPESAS_ADMINISTRATIVAS:sum("DESPESAS ADMINISTRATIVAS",__$$col,rows,null,filial,null,true), 
								DESPESAS_COM:sum('DESP. COMERCIAIS E COMISS\u00d5ES',__$$col,rows,null,filial,null,true), 
								DESPESAS_EXTR:sum('DESPESAS EXTRAORDIN\u00c1RIAS',__$$col,rows,null,filial,null,true)
								
								,OUTRAS_DESP_FINANC:sum('(+) Outras Despesas Financeiras',__$$col,rows,null,filial,null,true)
								
								,JUR:sum('JUR\u00cdDICO CORPORATIVO',__$$col,rows,null,filial)
								,JUR_OP:sum('JUR\u00cdDICO OPERACIONAL',__$$col,rows,null,filial)
								,PESSOAL_CORP:sum('PESSOAL CORPORATIVO',__$$col,rows,null,filial)
								,OUTRAS_CORP:sum('OUTRAS DESP. CORPORATIVA',__$$col,rows,null,filial)
							
							}; 
							(totalOrcado = __$$data.RECEITA_LIQUIDA +
							(
								__$$data.PESSOAL_OPERACIONAL +
								__$$data.CUSTOS_DE_AFRETAMENTO +
								__$$data.CUSTO_DE_COMBUSTIVEL +
								__$$data.DESP_TEC_MANUN +
								__$$data.SEG_PI +
								__$$data.PROVISAO +
								__$$data.OUTRAS_DESP_OP+
								__$$data.DESPESAS_ADMINISTRATIVAS +
								__$$data.DESPESAS_COM +
								__$$data.DESPESAS_EXTR +
								
								(filial != 'MTZ' ? (
								__$$data.JUR +  
								__$$data.PESSOAL_CORP + 
								__$$data.OUTRAS_CORP ) : 0)
							)).formatMoney(0)
						}}
					</td>
					<td style="text-align:right">
			            
						{{
							__$$col2 = "vlrRealizado";
							__$$data2 = 
							{
								RECEITA_LIQUIDA:sum("RECEITA L\u00cdQUIDA",__$$col2,rows,null,filial,null,true),
								PESSOAL_OPERACIONAL:sum("PESSOAL OPERACIONAL",__$$col2,rows,null,filial,null,true),
								CUSTOS_DE_AFRETAMENTO:sum("CUSTOS DE AFRETAMENTO",__$$col2,rows,null,filial,null,true),
								CUSTO_DE_COMBUSTIVEL:sum("CUSTO DE COMBUST\u00cdVEL",__$$col2,rows,null,filial,null,true),
								DESP_TEC_MANUN:sum("DESP T\u00C9CN E MANUTEN\u00C7\u00C3O",__$$col2,rows,null,filial,null,true),
								SEG_PI:sum("SEGUROS E P\u0026I",__$$col2,rows,null,filial,null,true), 
								PROVISAO:sum("PROVIS\u00D5ES PARA DOCAGEM",__$$col2,rows,null,filial,null,true), 
								OUTRAS_DESP_OP:sum("OUTRAS DESPESAS OPERACIONAIS",__$$col2,rows,null,filial,null,true), 
								DESPESAS_ADMINISTRATIVAS:sum("DESPESAS ADMINISTRATIVAS",__$$col2,rows,null,filial,null,true), 
								DESPESAS_COM:sum('DESP. COMERCIAIS E COMISS\u00d5ES',__$$col2,rows,null,filial,null,true), 
								DESPESAS_EXTR:sum('DESPESAS EXTRAORDIN\u00c1RIAS',__$$col2,rows,null,filial,null,true)
								
								,JUR:sum('JUR\u00cdDICO CORPORATIVO',__$$col2,rows,null,filial)
								,JUR_OP:sum('JUR\u00cdDICO OPERACIONAL',__$$col2,rows,null,filial)
								,PESSOAL_CORP:sum('PESSOAL CORPORATIVO',__$$col2,rows,null,filial)
								,OUTRAS_CORP:sum('OUTRAS DESP. CORPORATIVA',__$$col2,rows,null,filial)
								
							};
							(totalRealizado = __$$data2.RECEITA_LIQUIDA +
							(
								__$$data2.PESSOAL_OPERACIONAL +
								__$$data2.CUSTOS_DE_AFRETAMENTO +
								
								__$$data2.CUSTO_DE_COMBUSTIVEL +
								__$$data2.DESP_TEC_MANUN +
								
								__$$data2.SEG_PI +
								__$$data2.PROVISAO +
								
								__$$data2.OUTRAS_DESP_OP+
								__$$data2.DESPESAS_ADMINISTRATIVAS +
								__$$data2.DESPESAS_COM+
								__$$data2.DESPESAS_EXTR 
								
								+(filial != 'MTZ' ? (
								__$$data2.JUR +  
								__$$data2.PESSOAL_CORP + 
								__$$data2.OUTRAS_CORP ) : 0)
							)).formatMoney(0)
							
						}}
					</td>
					<td style="text-align:right" class="result-{{(totalOrcado > totalRealizado)}}">
						{{(totalRealizado - totalOrcado).formatMoney(0)}}
					</td>
					<td style="text-align:right" class="result-{{(totalOrcado > totalRealizado)}}">
						{{$parent.perc((totalRealizado - totalOrcado)/totalOrcado)}}
					</td>
				</tr>
<!-- EBITDA GERENCIAL -->
			<tr ng-if="$parent.$parent.loginResult.perfil.isMaster"
				ng-click="$parent.$parent.ebitdaIsOpen = !$parent.$parent.ebitdaIsOpen"
				class="{{totalEmpresaOrcado == totalEmpresaRealizado ? 'info' :
							totalEmpresaOrcado > totalEmpresaRealizado ? 'danger' : 'success'}}"
							id="ebt-gerencial">
				<td ng-show="isShowed(this)" class="snapp-scrollable th-cc-imp">
					<button class="btn btn-warning" 
							ng-show="principalFilial == 'Total Empresa'" class="btn btn-success" 
			               style="margin-left: 3px;"
						   >
			               =
			               </button>
			               <b style="margin-left: 5px;">EBITDA GERENCIAL</b>
				</td>
				<td>
					<button class="btn btn-warning" disabled>{{principalFilial}} Ajustado</button>
					<!-- 
					<button class="btn btn-warning"  
		               	ng-click="
		                  openRelatorio('evolucao_grafico',
		                  {inModal:true,
		                  idGrupoMaster:'EBT',
		                  filial:principalFilial,
		                  nomeGrupoMaster:'EBITDA'
		                  })">
		               		<i class="glyphicon glyphicon-stats"></i>
		             </button>
		              -->
				</td>
				<td  style="text-align:right" ng-scope>
					{{
						__$$col = "vlrOrcado";
						filial = null;
							__$$data = 
							{
								RECEITA_LIQUIDA:sum("RECEITA L\u00cdQUIDA",__$$col,rows,null,filial),
								PESSOAL_OPERACIONAL:sum("PESSOAL OPERACIONAL",__$$col,rows,null,filial),
								CUSTOS_DE_AFRETAMENTO:sum("CUSTOS DE AFRETAMENTO",__$$col,rows,null,filial),
								CUSTO_DE_COMBUSTIVEL:sum("CUSTO DE COMBUST\u00cdVEL",__$$col,rows,null,filial),
								DESP_TEC_MANUN:sum("DESP T\u00C9CN E MANUTEN\u00C7\u00C3O",__$$col,rows,null,filial),
								SEG_PI:sum("SEGUROS E P\u0026I",__$$col,rows,null,filial), 
								PROVISAO:sum("PROVIS\u00D5ES PARA DOCAGEM",__$$col,rows,null,filial), 
								OUTRAS_DESP_OP:sum("OUTRAS DESPESAS OPERACIONAIS",__$$col,rows,null,filial), 
								DESPESAS_ADMINISTRATIVAS:sum("DESPESAS ADMINISTRATIVAS",__$$col,rows,null,filial), 
								DESPESAS_COM:sum('DESP. COMERCIAIS E COMISS\u00d5ES',__$$col,rows,null,filial), 
								DESPESAS_EXTR:sum('DESPESAS EXTRAORDIN\u00c1RIAS',__$$col,rows,null,filial)
								,OUTRAS_DESP_FINANC:sum('(+) Outras Despesas Financeiras',__$$col,rows,null,filial,null)
								,JUR:sum('JUR\u00cdDICO CORPORATIVO',__$$col,rows,null,filial)
								,JUR_OP:sum('JUR\u00cdDICO OPERACIONAL',__$$col,rows,null,filial)
								,PESSOAL_CORP:sum('PESSOAL CORPORATIVO',__$$col,rows,null,filial)
								,OUTRAS_CORP:sum('OUTRAS DESP. CORPORATIVA',__$$col,rows,null,filial)
								
							};
							(totalEmpresaOrcado = __$$data.RECEITA_LIQUIDA +
							(
								__$$data.PESSOAL_OPERACIONAL +
								__$$data.CUSTOS_DE_AFRETAMENTO +
								__$$data.CUSTO_DE_COMBUSTIVEL +
								__$$data.DESP_TEC_MANUN +
								__$$data.SEG_PI +
								__$$data.PROVISAO +
								__$$data.OUTRAS_DESP_OP+
								__$$data.DESPESAS_ADMINISTRATIVAS+
								__$$data.DESPESAS_COM+
								__$$data.DESPESAS_EXTR
								
								
							)).formatMoney(0) 
					}}
				</td>
				<td  style="text-align:right" ng-scope>{{
					__$$col2 = 'vlrRealizado';
						filial = null;
							__$$data2 = 
							{
								RECEITA_LIQUIDA:sum('RECEITA L\u00cdQUIDA',__$$col2,rows,null,filial),
								PESSOAL_OPERACIONAL:sum('PESSOAL OPERACIONAL',__$$col2,rows,null,filial),
								CUSTOS_DE_AFRETAMENTO:sum('CUSTOS DE AFRETAMENTO',__$$col2,rows,null,filial),
								CUSTO_DE_COMBUSTIVEL:sum('CUSTO DE COMBUST\u00cdVEL',__$$col2,rows,null,filial),
								DESP_TEC_MANUN:sum('DESP T\u00C9CN E MANUTEN\u00C7\u00C3O',__$$col2,rows,null,filial),
								SEG_PI:sum('SEGUROS E P\u0026I',__$$col2,rows,null,filial), 
								PROVISAO:sum('PROVIS\u00D5ES PARA DOCAGEM',__$$col2,rows,null,filial), 
								OUTRAS_DESP_OP:sum('OUTRAS DESPESAS OPERACIONAIS',__$$col2,rows,null,filial), 
								DESPESAS_ADMINISTRATIVAS:sum('DESPESAS ADMINISTRATIVAS',__$$col2,rows,null,filial), 
								DESPESAS_COM:sum('DESP. COMERCIAIS E COMISS\u00d5ES',__$$col2,rows,null,filial), 
								DESPESAS_EXTR:sum('DESPESAS EXTRAORDIN\u00c1RIAS',__$$col2,rows,null,filial),
								JUR:sum('JUR\u00cdDICO CORPORATIVO',__$$col2,rows,null,filial),
								JUR_OP:sum('JUR\u00cdDICO OPERACIONAL',__$$col2,rows,null,filial),
								PESSOAL_CORP:sum('PESSOAL CORPORATIVO',__$$col2,rows,null,filial),
								OUTRAS_CORP:sum('OUTRAS DESP. CORPORATIVA',__$$col2,rows,null,filial),
								
							};
							(totalEmpresaRealizado = __$$data2.RECEITA_LIQUIDA +
							(
								__$$data2.PESSOAL_OPERACIONAL +
								__$$data2.CUSTOS_DE_AFRETAMENTO +
								__$$data2.CUSTO_DE_COMBUSTIVEL +
								__$$data2.DESP_TEC_MANUN +
								__$$data2.SEG_PI +
								__$$data2.PROVISAO +
								__$$data2.OUTRAS_DESP_OP+
								__$$data2.DESPESAS_ADMINISTRATIVAS+
								__$$data2.DESPESAS_COM+
								__$$data2.DESPESAS_EXTR
								
								
							)).formatMoney(0)}}
					
				</td>
				<td style="text-align:right" class=" result-{{(totalEmpresaOrcado > totalEmpresaRealizado)}}">
					{{(totalEmpresaRealizado - totalEmpresaOrcado).formatMoney(0)}}
				</td>
				<td style="text-align:right" class=" result-{{(totalEmpresaOrcado > totalEmpresaRealizado)}}">
					{{perc(V=(totalEmpresaRealizado - totalEmpresaOrcado)/totalEmpresaOrcado)}}
				</td>
			</tr>

			
			
			
			
			<tr ng-if="$parent.$parent.loginResult.perfil.isMaster" ng-click="openDespCorporativa()"
				class="{{totalEmpresaOrcadoDespCorp == totalEmpresaRealizadoDespCorp ? 'info' :
							totalEmpresaOrcadoDespCorp > totalEmpresaRealizadoDespCorp ? 'danger' : 'success'}}"
							id="desp-corporativa">
				<td ng-show="isShowed(this)" class="snapp-scrollable th-cc-imp">
					<button class="btn btn-danger" 
							ng-show="principalFilial == 'Total Empresa'" class="btn btn-success" 
			               style="margin-left: 3px;"
						   >
			               +
			               </button>
			               <b style="margin-left: 5px;">DESP. CORPORATIVA</b>
				</td>
				<td>
				</td>
				<td  style="text-align:right" ng-scope>
					{{
						__$$colDespCorp = "vlrOrcado";
						filial = 'MTZ';
							__$$dataDespCorp = 
							{
								PESSOAL_CORP  :sum('PESSOAL CORPORATIVO',__$$colDespCorp,rows,null,filial)
								,OUTRAS_CORP :sum('OUTRAS DESP. CORPORATIVA',__$$colDespCorp,rows,null,filial)
								
							};
							(totalEmpresaOrcadoDespCorp = __$$dataDespCorp.PESSOAL_CORP + __$$dataDespCorp.OUTRAS_CORP).formatMoney(0)
					}}
				</td>
				<td  style="text-align:right" ng-scope>{{
					__$$col2DespCorp = 'vlrRealizado';
						filial = 'MTZ';
							__$$data2DespCorp = 
							{
								PESSOAL_CORP :sum('PESSOAL CORPORATIVO',__$$col2DespCorp,rows,null,filial),
								OUTRAS_CORP :sum('OUTRAS DESP. CORPORATIVA',__$$col2DespCorp,rows,null,filial),
								
							};
							(totalEmpresaRealizadoDespCorp = __$$data2DespCorp.PESSOAL_CORP + __$$data2DespCorp.OUTRAS_CORP).formatMoney(0)
							}}
					
				</td>
				<td style="text-align:right"  class=" result-{{( totalEmpresaOrcadoDespCorp > totalEmpresaRealizadoDespCorp)}}">
					{{(totalEmpresaRealizadoDespCorp - totalEmpresaOrcadoDespCorp).formatMoney(0)}}
				</td>
				<td style="text-align:right" class=" result-{{( totalEmpresaOrcadoDespCorp > totalEmpresaRealizadoDespCorp )}}">
					{{perc((totalEmpresaRealizadoDespCorp - totalEmpresaOrcadoDespCorp)/totalEmpresaOrcadoDespCorp,'DESP. CORPORATIVA')}}
				</td>
			</tr>
			
			
		</table>
<style>
.botao-juridico {
  background: #AA00FF;
  border-color: #9C27B0;
}
.linhaConta {
border-bottom:2.5px dashed #ccc;
}
</style>
<style ng-if="anoAtual <= 2014">
[id="ebt-gerencial"],[id="99100110"],[id="desp-corporativa"] {display:none}
</style>

</div>
